# Data Structures

- dictionaries
- tuples
- arrays

Tuples and arrays are ordered, dictionaries aren't. Arrays and dictionaries are mutable, tuples aren't.

## Dictionaries
create using `Dict` command

In [7]:
my_dict = Dict("Key" => "Value")

Dict{String,String} with 1 entry:
  "Key" => "Value"

Add another entry to the dictionary.

In [35]:
my_dict["NewKey"] = "NewValue"
my_dict

Dict{String,String} with 2 entries:
  "Key"    => "Value"
  "NewKey" => "NewValue"

And this is how you get a value from a dictionary using its key.

In [36]:
my_dict["NewKey"]

"NewValue"

Use the `pop!` function to get a value from the dictionary while simultaneously deleting the key-value pair from the dictionary.

In [38]:
pop!(my_dict, "NewKey")

"NewValue"

In [11]:
my_dict

Dict{String,String} with 1 entry:
  "Key" => "Value"

Because dictionaries are unordered, you cannot index them. If you try, the dictionary will interpret the index as a key to look for in the dictionary.

## Tuples
Create using parentheses.

In [13]:
my_animals = ("panda", "lemur", "coyote", "leopard")

("panda", "lemur", "coyote", "leopard")

You can index tuples because they are ordered.

In [16]:
my_animals[1]

"panda"

Note that the indexing sequence starts at 1 in Julia, not 0.

Since tuples are immutable, you cannot update it, and we get an error message if we try.

In [18]:
my_animals[1] = "Sea Lion"

MethodError: MethodError: no method matching setindex!(::NTuple{4,String}, ::String, ::Int64)

## Arrays

Both mutable and ordered. Create using `[ ]`.

In [19]:
more_animals = ["Wolf", "Caracal", "Fox", "Parakeet"]

4-element Array{String,1}:
 "Wolf"
 "Caracal"
 "Fox"
 "Parakeet"

Notice that it sees that the array contains strings.

If you look below, the computer interprets the array as containing "any" type. The '1' following the type tells you that the array is 1 dimensional.

In [20]:
new_array = [1, "hello", 4.55]

3-element Array{Any,1}:
 1
  "hello"
 4.55

You can index arrays.

In [23]:
more_animals[3]

"Fox"

In [25]:
more_animals[3] = "Sea Lion"
more_animals

4-element Array{String,1}:
 "Wolf"
 "Caracal"
 "Sea Lion"
 "Parakeet"

You can add items to the array with the `push!` function, and remove them using the `pop!` function. `push!` adds an item to the end of the array, and `pop!` removes the last item in the array.

In [26]:
push!(more_animals, "Cobra")

5-element Array{String,1}:
 "Wolf"
 "Caracal"
 "Sea Lion"
 "Parakeet"
 "Cobra"

In [27]:
pop!(more_animals)

"Cobra"

In [28]:
more_animals

4-element Array{String,1}:
 "Wolf"
 "Caracal"
 "Sea Lion"
 "Parakeet"

Now let's look at multi-dimensional arrays.

In [30]:
yum = [["cake", "cookies", "ice cream"], ["duck", "bacon"], ["salt"]]

3-element Array{Array{String,1},1}:
 ["cake", "cookies", "ice cream"]
 ["duck", "bacon"]
 ["salt"]

You can create a random array by giving the `rand` function the dimensions of the array you want to create. In this case, we create a 2 dimensional array with 4 rows and 3 columns.

In [31]:
rand(4, 3)

4Ã—3 Array{Float64,2}:
 0.173306  0.178487  0.201103
 0.871185  0.10529   0.20856
 0.234614  0.576598  0.353623
 0.875311  0.352697  0.422503

You can also create 3 dimensional arrays.

In [32]:
rand(4, 3, 2)

4Ã—3Ã—2 Array{Float64,3}:
[:, :, 1] =
 0.743831  0.0342859  0.430299
 0.148423  0.726573   0.222652
 0.112088  0.204568   0.813057
 0.492473  0.701045   0.541631

[:, :, 2] =
 0.891065   0.571949  0.795895
 0.0652745  0.602899  0.682308
 0.609384   0.764294  0.768822
 0.772449   0.376024  0.747919

Or even 4 dimensional arrays.

In [34]:
rand(5, 4, 3, 2)

5Ã—4Ã—3Ã—2 Array{Float64,4}:
[:, :, 1, 1] =
 0.773221  0.856548  0.0477119   0.169434
 0.435862  0.96683   0.878773    0.00519522
 0.68805   0.696234  0.0307318   0.166783
 0.631477  0.878503  0.00733281  0.248139
 0.543581  0.710671  0.529144    0.689652

[:, :, 2, 1] =
 0.59008   0.177254  0.819867   0.63779
 0.348209  0.942243  0.659577   0.906598
 0.127283  0.644838  0.0777823  0.263492
 0.453336  0.277585  0.175597   0.14573
 0.614513  0.475106  0.949481   0.783582

[:, :, 3, 1] =
 0.133605   0.669748  0.898816  0.799927
 0.570085   0.345559  0.202834  0.229433
 0.461843   0.946512  0.332948  0.136991
 0.0737105  0.626562  0.497476  0.336707
 0.509204   0.78913   0.409406  0.24615

[:, :, 1, 2] =
 0.599798  0.63304   0.433934  0.478515
 0.744191  0.995588  0.819197  0.189855
 0.828894  0.613828  0.814241  0.693647
 0.414237  0.608115  0.539531  0.174803
 0.453252  0.189631  0.129607  0.518145

[:, :, 2, 2] =
 0.420491  0.083198  0.682121   0.0181087
 0.410308  0.324299  0.0132914  0.500601
 0.530781  0.715617  0.141267   0.424393
 0.64539   0.612594  0.88146    0.719754
 0.184957  0.44742   0.245513   0.542056

[:, :, 3, 2] =
 0.93756   0.160043  0.38676    0.729753
 0.573846  0.601325  0.0243151  0.697062
 0.673876  0.387263  0.277635   0.974426
 0.953549  0.7601    0.196992   0.446805
 0.509037  0.423814  0.864128   0.802489